<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf8">
        <title>Portal profe</title>
        <style>
            .red {
                color: rgb(194, 10, 10);
            }
            .green {
                color: yellowgreen;
            }
            body {
                text-align: center;
            }
            table, th, td {
                border: 1px solid black;
                margin-left: auto;
                margin-right: auto;
            }
            .loging {
                margin: auto;
                padding: 70px 0;
            }

        </style>
    </head>
    <body>

        <!-- Div donde Vue se renderiza 👇 (fuera de aquí no funciona) -->
        <div id="app">
            
            <div class="loging" v-show="login">
                <h1>Portal del/la profe</h1>
                <h>
                    ¿Tienes cuenta?
                </h>
                <p> </p>
                <span>USUARIO</span>
                <input type="text" placeholder="Escribe tu usuario" v-model="username">
                <p> </p>
                <span>CONTRASEÑA</span>
                <input type="password" placeholder="Escribe tu contraseña">
                <p> </p>
                <button @click="login =! login, register =! register, welcome()">
                    Login
                </button>
            </div>
            <div v-show="register">
                <h1>Portal del/la profe</h1>
                <p>
                    ¡Hola, {{ username }}!
                </p>
                <p>
                    - Notas del grupo A
                </p>
                <table>
                    <thead>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Clase</th>
                        <th>Estado</th>
                    </thead>
                    <tr v-for="alumno in alumnos" :key="alumno.id">
                        <td> {{ alumno.nombre }} </td>
                        <td> {{ alumno.apellidos }} </td>
                        <td> {{ alumno.clase }} </td>
                        <td :class="{green: alumno.estado >= notaMinima, red: alumno.estado < notaMinima}">
                             {{ alumno.estado >= 5 ? 'Aprobado': 'Suspendido' }} </td>
                    </tr>
                </table>

                <button @click="login =! login, register =! register, username=''">
                    Salir
                </button>
            </div>
            <p> </p>
            <footer>Lucía Carolina G. C., 2020</footer>
        </div>

        <!-- Importando Vuejs 👇 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- El objeto Vue 👇 -->
        <script>
            const app = new Vue ({
                el: '#app', // Indico dónde Vue se renderiza en el HTML
                data() { // En Data se guardan las variables 
                    return {
                        login: true,
                        register: false,
                        alumnos: [
                           {nombre: 'Raquel', apellidos:'Vazquez', clase: '5A', estado: 7 },
                           {nombre: 'Isa', apellidos:'Vazquez', clase: '5A', estado: 10 },
                           {nombre: 'Brais', apellidos:'Vazquez', clase: '5A', estado: 5 },
                           {nombre: 'Adrien', apellidos:'Vazquez', clase: '5A', estado: 4 },
                           {nombre: 'Verónica', apellidos:'Vazquez', clase: '5A', estado: 6 },
                           {nombre: 'Alberto', apellidos:'Vazquez', clase: '5A', estado: 2 },
                           {nombre: 'Borja', apellidos:'Vazquez', clase: '5A', estado: 8 }
                        ],
                        username: '',
                        notaMinima: 5
                    }
                },
                methods: { // en methods se crean las funciones
                    welcome() {
                        alert( "¡Bienvenido/a, " + this.username + " !" )
                    }
                }
            })
        </script>

    </body>
</html>