@font-face {
  font-family: Clock;
  src: url("../fonts/clock.woff2"), url("../fonts/clock.woff");
}

html {
  --color: #758083;
  --header-bg: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: Clock, sans-serif;
  color: var(--color);
  min-height: 100vh;

  display: grid;
  place-content: center;

  background-size: cover;
  background-position: center;
}

body.morning {
  background-image: url("../img/descarga.jpeg");
}

body.afternoon {
  background-image: url("../img/afternoon-at-phuong-luu-lake-hai-phong-viet-nam.jpg");
}

body.night {
  background-image: url("../img/starry_sky_night_trees_night_landscape_118760_3840x2160-scaled.jpg");
}

header {
  text-align: center;
  padding: 2rem;
  border: 5px dotted var(--color);
  background-color: var(--header-bg);
}

header h1,
header h2 {
  font-weight: normal;
}

header h1 {
  font-size: 4rem;
}

header h2 {
  font-size: 2rem;
  padding: 1rem 1rem 0rem 1rem;
}

@media (min-width: 700px) {
  html {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 50px;
  }
}
//////////////

button {
  background-color: black;
  color: rgb(114, 23, 102);
  padding: 0.5rem 1rem;
  border: none;
}
nav {
  background-color: rgb(2, 36, 48);
  position: fixed;
  right: -300px;
  min-height: 100vh;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 1s;
}

nav.visible {
  right: 0;
}

nav button {
}

nav ul {
  list-style: none;
  margin-top: 1rem;
}

nav ul li {
  padding: 0.5rem 2rem;
}